.header {
    width: 99.2%;
    height: 60px;
    padding: 5px;
    align-items: center;
    font-size: 18px;
    background-color: darkolivegreen;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.itemFlex {
    display: flex;
    align-items: center;
}

.link {
    width: auto;
    height: 30px;
    background: brown;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;

    a {
         text-decoration: none;
         color: #c8c8c8;
         align-items: center;
         font-size: 14px;
         font-weight: 400;
         vertical-align: sub;
    }
}

.btn {
    height: 35px;
    width: auto;
    margin-left: 15px;
}

.margitnLeft {
    margin-left: 15px;
}